body{
	background: #2B2A33;
	font-size: 16px;
}

body, h5 {
    font-family: 'Open Sans',sans-serif;
}

h1{color: #aaaaaa;}

b, strong
{
	color:#e3dada;
}

article{
	margin-left:70px;
	margin-right:70px;
	margin-top:10px;
	padding:80px;
	background:black;
	color: #aaaaaa;
}

textarea
{
	background:black;
	color: white;
	width: 800px;
	height: 600px;
	font-size: 18px;
}

.dark
{
	background:black;
	color: white;
}

a
{
	color:#8c7591;
}

a.navbar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

code {
	padding: 1px;
	color: #8f8383;
}

math { font-size: 1.2rem; margin-bottom:2%}

ul.center {
  display: table;
  margin: 0 auto;
}

.left{
	float: left;
	padding: 0 20px 20px 0;
}

.overline{ /* horizontal line over a word */
	text-decoration: overline;
}

section{
    display: flex;
    margin-top:20px;
}

section>p{
	margin:17px;
}

section>a{
	margin:40px;
}

p{
	font-size: 1.2em;
	line-height: 1.618em;
	margin-bottom: 1.618em;
	margin-top: 0;
}

.small
{
    font-size: 0.9em;
}

.red{
    color:red;
}

.green{
	color:green;
}

.blue{
	color:blue;
}

.brown{
	color:#571d24;
}

.yellow{
	color:yellow;
}

.viola{
	color:#cc99ff;
}

.pink{
	color:#e8519a;
}

pre {
    background: black;
    color:white;
    text-shadow: 0 1px rgba(0,0,0,.3);
    font-family: Consolas,Monaco,andale mono,ubuntu mono,monospace;
    text-align: left;
    font-size:11px;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    padding:0.7em;
}

.function {
    color: #e6db74;
}

.keyword {
    color: #66d9ef;
}

.number{
    color: #ae81ff;
}

.string {
    color: #a6e22e;
}

code, pre {
	font-size: 14px !important;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #751414;
}

/* Vertical Line */
.vl {
    border-left: 1px solid #333;
    height: 85px;
    margin-left:50px;
    margin-right: -10px;
    margin-bottom: 5px;
}

ul{
	list-style:square;
}

.box {
    border: 1px solid white; /* Cornice bianca */
    padding: 10px; /* Aumenta lo spazio interno per bilanciare i margini */
    display: flex; /* Flexbox per centratura */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    background-color: transparent;
    width: fit-content; /* Adatta al contenuto */
    height: auto; /* Si adatta al testo */
	line-height: 1; /* Imposta un'altezza uniforme per il testo */
    margin: 0 auto; /* Centra il box nella pagina */
	margin-bottom: 10px; /* Aggiunge spazio sotto il box */
}

.def{
	padding: 30px;
	border: 2px solid black;
	margin: 25px;
	width: 770px;
	margin-left:auto; 
	margin-right:auto;
	background:rgba(0,0,0,0.09);
	display:inline-block;
}

.eq{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

span.eq{    
	margin-left:200px;
	color:#751414;
}

blockquote{
	background:#393434;
	padding: 8px;
	display:inline-block;
	font-size: 18px;
}

nav{
    background: #331a1a;
    clear:both;
}

nav>ul{
    /*no bullets */
    list-style:none;
    /*to remove browser default settings */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li{
    float:left; /* to get block elements to slide next to each other */
}

img.inline{
    display:inline-block;
}

/* Change the link color to #374936 (green) on hover */
nav>ul>li>a:hover {
    background-color: #331a1a;
}

input{
	background-color:#F2F2F2;
}

input.white{
	background-color:white;
}

select{
	margin-top:50px;
	margin-left:100px;
	width:250px;
	text-align:center;
}

li{
    margin:2px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin:5%
}

th
{
	color:#8c7591;
}

table tr th a:hover {
	font-weight: normal;

}

table tbody tr th {
  vertical-align: middle; }

tr td,tr th {
  border: solid 1px; 
  padding: 9px 9px;
  text-align: center;
  /* LTR */
  /* Tablet Styles */ }
  @media screen and (max-width: 600px) {
    tr td,
    tr th {
      padding: 2px;
      font-size: 10px; } }

table ul.links {
  margin: 0px;
  padding: 0;
  font-size: 1em; 
}  

table ul.links li {
  padding: 0 1em 0 0;    
}

.centertable { margin: 2em auto; }

.italictable{font-style: italic;}

.noborder th, .noborder td {
  border-width: 0;
  border-spacing: 0;  
}

th.case, td.case {
    width: 70px;
  /* Tablet Styles */ }
  @media screen and (max-width: 600px) {
    th.case, td.case {
      width: auto; } }

h2{
    margin-top:40px;    
}

img{
    display: block;
    margin: auto;
    margin-bottom:20px;
}

figcaption{
     text-align:center;
     font-size:16px;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

footer {
  margin-top: 50px;
  border-top: 1px solid silver;
  font-size: 0.9em;
}
