body {
	background:#d1d1d1;
}

.tree
{
	border-spacing: 0px;
	border-collapse: separate;
	margin: 0 auto;
}

.solid_black
{
	border-right:1px solid black;
	height:1em;
	width:1em;
}

.border
{
	border:2px solid black;
}

.border_bottom
{
	border-bottom:1px solid black;
}

.border_right
{
	border-right:1px solid black;
}

.border_width
{
	border-width:2px;
}


.td_center
{
	height:1px;
	text-align:center;
}

.wtwo
{
	width:2em;
}

.wone
{
	width:1em";
}

.htwo
{
	height:2em;
}

.hone
{
	height:1em;
}

.coniuge
{
	height:1em;
	border-bottom:1px dashed black;
	width:2em;
}

.padd
{
	padding:0.2em;
}

.radius
{
	border-radius: 0.5em;
}
