blue{
  color:#1E90FF;
  font-style: italic;
}

grey{
  color:grey;
  font-family:italic;
}
h1 {
  text-align:center;
}

h5{
  color:green;
  font-family:italic;
  width:750px;
  margin-left:auto; margin-right:auto;
}

h2, h3{ 
  font-size: 22px; 
  line-height: 28px;
  width:750px; margin-left:auto; margin-right:auto;
    }
    
    h4{ 
  font-size: 16px; 
  line-height: 28px;
  width:750px; margin-left:auto; margin-right:auto;
    }
    
img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

ul{
  width:750px; margin-left:auto; margin-right:auto;
}

li{
  margin-top:5px;
  font-family: 'Open Sans', sans-serif;
}

p{ 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  line-height: 28px;
  width:850px; margin-left:auto; margin-right:auto;
  }
  
.center{
    margin-left: 50%;
}
  
.def{
    padding: 5px;
    border: 2px solid black;
    margin: 25px;
    width:770px;
    margin-left:auto; margin-right:auto;
}


a.button{
  text-decoration:none;
  display:inline-block;
  color:#666;
  background:#f4f4f4;
  border: 1px dotted #ccc;
  padding:6px 13px;
}

a:hover {
    background:MediumAquaMarine;
}

button:hover {
    background:MediumAquaMarine;
}
button{
      line-height:120%;
      font-size:200%;
}


.container{
  width:60%;
  margin:0 auto;
  overflow:auto;
}

header{
  border-bottom:3px #f4f4f4 solid;
}

footer{
  border-top: 3px #f4f4f4 solid;
  text-align:center;
  padding-top:5px;
}

main{
  padding-bottom:20px;
}

.current{
  margin:20px 0 10px 0;
  background:#f4f4f4;
  border: 1px dotted #ccc;
  padding:10px;
}

tab0 {
  position:absolute;
left:550px;
  }
tab {
  position:absolute;
  left:800px;
  }
  
tab2 {position:absolute;
left:1050px;
  }
  
BODY,TABLE,INPUT,SELECT,TEXTAREA {
	font-family:verdana,arial,helvetica,sans-serif;
	font-size:16px;
	color:black;
    
}
BODY,FORM,PRE,DIV {
	margin:0;
}
BODY {
	background:#dfc7b2;
    width:750px; margin-left:auto; margin-right:auto;
    background-color: #dfc7b2;
    
}  
.auto .split {
	width:100%;
}
.auto .split .source,.auto .split .output {
	width:50%;
}
.auto .rownum {
	color:#a0a0a0;
	text-align:right;
	vertical-align:top;
	min-width:20px;
}
.auto .source {
	background:#dfc7b2;
	border:1px solid #c0c0d0;
	vertical-align:top;
}
.auto .source VAR {
	font-style:normal;
	color:#0000b0;
}
.auto .source DFN {
	font-style:normal;
	color:#500070;
}
.auto .source CITE {
	font-style:normal;
	color:#007000;
}
.auto .source KBD {
	font-style:normal;
	color:#600030;
}
.auto .source .selectline {
	background:#c0c0e0;
}
.auto .output {
	background:#dfc7b2;
	border:1px solid silver;
	vertical-align:top;
}
